<style>
/*设置只有没有分支列表时，向左靠齐那么一点点*/
	.only .ams-item-level-0 {
    padding-left: 0;
}
.modal-dialog { width: 1000px; margin: 30px auto;}
</style>
<div class="modal-body wrapper-lg">
  <div class="row">
    <div >
       <form name="form-contact" ng-submit="ok()" class="form-validation">
          <div class="panel ">
      	   		 <div class="panel-heading">修改前</div>  
			   <table class="table table-striped">
					<thead>
			         <tr>
			         	<th width="4%"></th>
				        <th >网段</th>
				        <th>国家</th>
				        <th >大区</th>
				        <th >省份</th>
				        <th>城市</th>
				        <th >县城</th>
				        <th>运营商</th>
				      </tr>
				      </thead>
				      <tbody>
				      <tr ng-repeat="row in subnets_preview">
				      	<th ></th>
				          <td>{{row.subnet}}</td>
					        <td>{{row.country}}</td>
					        <td>{{row.area}}</td>
					        <td>{{row.region}}</td>
					        <td>{{row.city}}</td>
					        <td>{{row.county}}</td>
					        <td>{{row.isp}}</td>
				      </tr>
				      </tbody>
				</table>
			</div>
			<div class="panel ">
      	   		<div class="panel-heading">修改后</div>  
			     <table class="table table-striped">
					<thead>
			         <tr>
			         	<th width="4%"></th>
				        <th >网段</th>
				        <th >国家</th>
				        <th >大区</th>
				        <th >省份</th>
				        <th >城市</th>
				        <th >县城</th>
				        <th >运营商</th>
				      </tr>
				      </thead>
				      <tbody>
				      <tr ng-repeat="row in subnets_result">
				      	<th ></th>
				          <td>{{row.subnet}}</td>
					        <td>{{row.country}}</td>
					        <td>{{row.area}}</td>
					        <td>{{row.region}}</td>
					        <td>{{row.city}}</td>
					        <td>{{row.county}}</td>
					        <td>{{row.isp}}</td>
				      </tr>
				      </tbody>
				       <footer class="panel-footer text-right ">
			              <button ng-click="cancel()" class="btn btn-info" style="margin-right: 20px;">取消</button>
			              
			              <button type="submit" class="btn btn-success">确定</button>
			            </footer>
            
				</table>
			</div>
        </form>
    </div>
  </div>
</div>